.title {
  background: radial-gradient(50% 124.93% at 95.86% -10%,#3efad9 0,hsla(0,0%,100%,0) 100%),linear-gradient(91.56deg,#ff9357 1.54%,#9100ff 98.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: var(--white);
  margin-top: 30px;
}
.content{
  background-color: #1ABC9C;
  margin-top: 30px;
  height: 40px;
  color: var(--white);
  font-weight: 600;
  display: flex;
  align-items: center;

  span{
    margin-left: 20px;
  }
}

.button{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}


